<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=PRO-RAET-SANDEE;Initial Catalog=imdbtest;User ID=sa;Password=bsbyl@404;Persist Security Info=True"/>
  </connectionStrings>
</configuration>